<div *ngIf="selectedRental">
    <h2>
        {{selectedRental.clientID}} {{selectedRental.movieID}} was selected
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>

<h2>Rentals</h2>
<ol class="rentals">
    <li *ngFor="let rental of rentals "
        [class.selected]="rental === selectedRental"
        (click)="onSelect(rental)">
        {{rental.clientID}}{{rental.movieID}}
    </li>
</ol>
