<div *ngIf="client">
    <h2>Client {{client.firstname}} {{client.secondname}} details</h2>
    <div>
        <label>First Name: </label> {{client.firstname}}
        <input [(ngModel)]="client.firstname" placeholder="firstname">
    </div>
    <div>
        <label>Second Name: </label> {{client.secondname}}
        <input [(ngModel)]="client.secondname" placeholder="secondname">
    </div>
    <div>
      <label>Job: </label> {{client.job}}
      <input [(ngModel)]="client.job" placeholder="job">
    </div>
    <div>
        <label>Age: </label> {{client.age}}
        <input [(ngModel)]="client.age" placeholder="age">
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
</div>
