<div *ngIf="movie">
    <h2>Movie {{movie.title}} details</h2>
    <div>
        <label>Title: </label> {{movie.title}}
        <input [(ngModel)]="movie.title" placeholder="title">
    </div>
    <div>
        <label>Description: </label> {{movie.description}}
        <input [(ngModel)]="movie.description" placeholder="description">
    </div>
    <div>
      <label>Price: </label> {{movie.price}}
      <input [(ngModel)]="movie.price" placeholder="price">
    </div>
    <div>
        <label>Rating: </label> {{movie.rating}}
        <input [(ngModel)]="movie.rating" placeholder="rating">
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
</div>
