<div *ngIf="rental">
    <h2>Rental {{rental.clientID}} {{rental.movieID}}details</h2>
    <div>
        <label>Client Id: </label> {{rental.clientID}}
        <input [(ngModel)]="rental.clientID" placeholder="clientID">
    </div>
    <div>
        <label>Movie Id: </label> {{rental.movieID}}
        <input [(ngModel)]="rental.movieID" placeholder="movieID">
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
</div>
